@charset "UTF-8";

body{
    /*background-color: #000000;*/
    margin: 0%;
}

header{
    /*background-color: #e60ce6;*/
    width: 1000px;
    height: 70px;
    margin: auto;
}

nav{
    /*background-color: #009000;*/
    width: 300px;
    height: 45px;
    float: right;
    padding: 25PX 60PX 0 60px;
}

#imgLOGO{
    /*background-color: #303099;*/
    width: 400px;
    height: 70px;
}

#LogoNome{
    color: blueviolet;
    font-family: serif;
    font-style: italic;
    padding: 15px 0 0 0 ;
}

/*criando um baner*/
#baner{
    /*background-color: #e4d50d;*/
    background-image: url(../IMG/pexels-photo-7831753.webp);
    background-size: cover;
    width: 100%;
    height: 500px;
}

/*Section 1 sobre*/
#CONTAINERsobre{
    /*background-color: #fa12c8;*/
    width: 1000px;
    height: 400px;
    margin: auto;
}

#txtSOBRE{
    /*background-color: #1b1edd;*/
    width: 550px;
    height: 400px;
    float: right;
}

#imgSOBRE{
    /*background-color: #07ee1b;*/
    width: 400px;
    height: 600px;
}

#ps5{
    width: 400px;
    background-size: cover;
}

h2{
    color: #f59505;
    padding: 40px 0 0 0;
    text-align: center;
}

p{
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    text-align: center;
}

/*section 2 serviços*/
#containerSERVICOS{
    background-color: #46443870;
    width: 100%;
    height: 500px;
}

#servicos{
    /*background-color: #f505cd;*/
    width: 1000px;
    height: 500px;
    margin: auto;
}

.qdSERV{
    /*background-color: #0b4bac;*/
    width: 300px;
    height: 375px;
    float: right;
    margin: 75px 25px 0 0;
}

.imgSERV{
    /*background-color: #37c02be5;*/
    width: 250px;
    height: 200px;
    margin: 25px 0 5px 25px;
}

.imagemJOGO{
    width: 250px;
    height: 200px;
    margin: 25px 0 5px 25px;
}
footer{
    /*background-color: #ff16a6;*/
    width: 1000px;
    height: 550px;
    margin: auto;
}

#mapa{
    /*background-color: #336ce6;*/
    width: 350px;
    height: 520px;
    float: left;
    margin: 15px 0 0 25px;
}

#utmINF{
    /*background-color: #791653;*/
    width: 595px;
    height: 520px;
    float: right;
    margin: 15px 15px 0 15px;
}

 #nome{
    /*background-color: #336ce6;*/
    width: 500px;
    height: 70px;
    float: none;
    margin: 20px 0 0 50px;
 }

 #textoFINAL{
    /*background-color: #336ce6;*/
    width: 550px;
    height: 280px;
    float: none;
    margin: 20px 0 0 25px;
 }

 #direitos{
    /*background-color: #336ce6;*/
    width: 500px;
    height: 70px;
    float: none;
    margin: 20px 0 0 50px;
 }

 #ajMAPA{
    width: 350px;
    height: 520px;
 }

 h1{
    text-align: center;
    padding: 15px 0 0 0 ;
 }